<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UIKit</key>
    <dict>
        <key>LC32ScalarPointerFixture</key>
        <dict>
            <key>-</key>
            <dict>
                <key>consumeFloat:</key>
                <string>v12@0:4r^f8</string>
                <key>mutateFloat:</key>
                <string>v12@0:4^f8</string>
                <key>mutateDouble:</key>
                <string>v12@0:4^d8</string>
                <key>mutateInteger:</key>
                <string>v12@0:4^i8</string>
                <key>produceFloat:</key>
                <string>v12@0:4o^f8</string>
            </dict>
        </dict>
        <key>NSString</key>
        <dict>
            <key>-</key>
            <dict>
                <key>sizeWithFont:minFontSize:actualFontSize:forWidth:lineBreakMode:</key>
                <string>{CGSize=ff}28@0:4@8f12^f16f20i24</string>
            </dict>
        </dict>
        <key>UIDevice</key>
        <dict>
            <key>-</key>
            <dict>
                <key>userInterfaceIdiom</key>
                <string>i8@0:4</string>
            </dict>
        </dict>
        <key>UIColor</key>
        <dict>
            <key>+</key>
            <dict>
                <key>colorWithCGColor:</key>
                <string>@12@0:4^{CGColor=}8</string>
            </dict>
            <key>-</key>
            <dict>
                <key>CGColor</key>
                <string>^{CGColor=}8@0:4</string>
                <key>setCGColor:</key>
                <string>v12@0:4^{CGColor=}8</string>
            </dict>
        </dict>
        <key>LC32CGImageFixture</key>
        <dict>
            <key>-</key>
            <dict>
                <key>CGImage</key>
                <string>r^{CGImage=}8@0:4</string>
                <key>initWithCGImage:</key>
                <string>@12@0:4^{CGImage=}8</string>
                <key>initWithCGImage:scale:orientation:</key>
                <string>@20@0:4^{CGImage=}8f12i16</string>
            </dict>
        </dict>
    </dict>
</dict>
</plist>
